Makefile
Makefile.in
m4
autom4te.cache
config.guess
config.h.in*
config.sub
configure
install-sh
ltmain.sh
missing
aclocal.m4
depcomp
config.h
config.log
config.status
config.status.lineno
libtool
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
coverage
coverage.info
.libs
.deps
*.o
*.lo
*.la
*.gcno
*.gcda
src/milter-zipcrypt
*.tar.gz
test/mz-test-sendmail-receiver.h
test/mz-test-sendmail-reporter.h
