Makefile
Makefile.in
m4
autom4te.cache
config.guess
config.h.in*
config.sub
configure
install-sh
ltmain.sh
missing
aclocal.m4
depcomp
config.h
config.log
config.status
config.status.lineno
libtool
stamp-h1
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
coverage
coverage.info
.libs
.deps
*.o
*.lo
*.la
*.gcno
*.gcda
*.pc
po/Makefile.in.in
po/POTFILES
po/pop-maker.pot
po/stamp-it
po/.intltool-merge-cache
po/*.gmo
src/pop-maker
src/pm-enum-types.c
src/pm-enum-types.h
src/pm-marshal.c
src/pm-marshal.h
src/pm-dbus-bindings.h
src/stamp-pm-enum-types.h
*.tar.gz
